	  @font-face {
	  	font-family: 'Avenir';
	  	src: url('../fonts/AvenirLTStdLight.eot');
	  	src: local('☺'), url('../fonts/AvenirLTStdLight.woff') format('woff'), url('../fonts/AvenirLTStdLight.ttf') format('truetype'), url('../fonts/AvenirLTStdLight.svg') format('svg');
	  	font-weight: normal;
	  	font-style: normal;
	  }
	  
	  @font-face {
	  	font-family: 'Avenir';
	  	src: url('../fonts/AvenirLTStd Medium.eot');
	  	src: local('☺'), url('../fonts/AvenirLTStdMedium.woff') format('woff'), url('../fonts/AvenirLTStdMedium.ttf') format('truetype'), url('../fonts/AvenirLTStdMedium.svg') format('svg');
	  	font-weight: bold;
	  	font-style: normal;
	  }

